<h2>Data Binding</h2>
<div class="Container">
    <div class="Container">
        <div class="navCnt">
            <nav>
                <ul>
                    <li routerLinkActive="active"><a routerLink="interpolation">Interpolation</a></li>
                    <li routerLinkActive="active"><a routerLink="event-binding">Event Binding</a></li>
                    <li routerLinkActive="active"><a routerLink="two-way">Two way binding</a></li>
                </ul>
            </nav>
        </div>
        <div class="outletCnt">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>